* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
body {
    height: 100vh;
    width: 100%;
}
nav {
    background: #909090;
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 100px;
    font-weight: bold;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
}


.active {
    background:rgba(255, 192, 203, 0.717);
    padding:20px 30px;
}

header {
    background: pink;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
width: 90%;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
.card {
    flex-basis: 31%;
    height: 25vh;
    background-color: palegreen;
    gap: 20px;
    margin: 10px;
    border-radius: 10px;
}
.full-card {
    flex-basis: 97.3%; 
}
table {
    border-collapse: collapse;
}
caption {
    font-weight: bold;
    font-size: 30px;
}
td, th {
    width: 1000px;
    padding: 20px;
    text-align:center;
}
th{
    border-bottom: 1px solid white;
}
th:nth-child(1),td:nth-child(1){
    background:rgb(105, 105, 235);
}
th:nth-child(2),td:nth-child(2){
    background:rgb(102, 102, 203);
}
th:nth-child(3),td:nth-child(3){
    background:rgb(93, 93, 177);
}
th:nth-child(4),td:nth-child(4){
    background:rgb(72, 72, 161);
}